<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active current">
      <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="student">Student</a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="courses">Courses</a>
    </li>
  </ul>
</nav>

<!-- <h1>
  Welcome to {{ title }}!
</h1> -->
<!-- <courses></courses> -->
<router-outlet></router-outlet>
<!-- <app-course></app-course> -->
